.dashboard {
    display: flex;
    min-height: 100vh;
    background: #DDD8C4;
}

.dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding: 35px;
}